// Main colors:
$primary-color: #8056eb;
$primary-hover-color: #5b24e7;
$danger-color: #cf1216;
$success-color: #096309;
$black-color: #000;
$white-color: #fff;
$light-grey-color: #C8C8C8;


// Text colors:
$grey-text-color: #a8a8a8;
$darker-grey-color: #666769;
$medium-blue-color: #9977ef;

// Background colors:
$category-color: #e5ddfb;
$service-card-color: #f2eefd;
$service-card-hover-color: #f7f4fd;
$light-grey-bg: #f9f8fe;

$modal-light-grey: #f0f0f0;
$light-blue-border-color: #beaaf5;

