// Pagrindinės spalvos@
$primary-color: #8056eb;
$primary-hover-color: #5b24e7;
$danger-color: #cf1216;
$black-color: #000;
$white-color: #fff;
$light-grey-color: #C8C8C8;

// Teksto spalvos:
$grey-text-color: #a8a8a8;
$medium-blue-color: #9977ef;

//fono spalvos:
$category-color: #e5ddfb;
$service-card-color: #f2eefd;
$service-card-hover-color: #f7f4fd;

$light-blue-border-color: #beaaf5;

