@forward './colors';
@forward './responsive';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-width: 360px;
}
:global {
  .toastBody {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
}