.section {
  .searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    @include small {
      gap: 10px;
    }

    .searchIcon {
      height: 20px;
      width: 20px;

      @include small {
        height: 17px;
        width: 17px;
      }
      
      svg {
        height: 20px;
        width: 20px;

        @include small {
          height: 17px;
          width: 17px;
        }

        path {
          fill: $white-color;
        }
      }
    }
  }
}

