.dropdown {
  visibility: hidden;
  position: absolute;
  top: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 130px;
  background-color: $white-color;
  border-radius: 6px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1490196078) -0.05px 1.95px 12.6px;
  z-index: 10;
  opacity: 0;
  transition: all 0.5s;

  &.isOpen {
    visibility: visible;
    opacity: 1;
  }

  button {
    all: unset;
  }

  .dropdownItem {
    text-decoration: none;
    color: $black-color;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      font-weight: 500;
    }
  }
}