.sidebarWrapper {
  width: 25%;

  @include large {
    width: 100%;
  }

  .title {
    margin: 0 0 32px;
    font-size: 22px;
    color: $primary-color;

    @include large {
      margin: 0 0 15px;
    }
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include large {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
