.businessInfo {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .businessContacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    &:nth-of-type(2) {
      align-items: flex-end;
    }
  }

  .businessContactsWrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    
    .businessImage {
      width: 160px;
      height: 160px;
      object-fit: cover;
      border-radius: 50%;
    }

      .businessName {
        font-size: 32px;
        margin: 0;
      }

      .businessCategory {
        text-transform: capitalize;
        background-color: #F3E7FE;
        color: $primary-color;
        font-size: 18px;
        padding: 8px 16px;
        border-radius: 25px;
      }
    }

  }
 

