.modal {
  width: 420px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: $white-color;
  padding: 30px;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;

  @include small {
    width: 100%;
  }

  @include extra-small {
    padding: 15px;
  }

  &:hover {
    scrollbar-color: $light-grey-color transparent;
  }
 
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

:global {
  .ReactModal__Overlay {
    opacity: 0;
    transition: all 300ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
}