.heroBox {
  padding: 90px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include small {
    padding: 40px 0 0;
  }

  .title {
    font-size: 56px;
    max-width: 700px;
    margin: 0 0 20px;
    text-align: center;
    line-height: 140%;

    @include small {
      font-size: 42px;
    }

    span {
      color: $primary-color;
    }
  }

  .subtitle {
    text-align: center;
    color: $grey-text-color;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 40px;

    @include small {
      font-size: 22px;
    }
  }
}
