.contactItem {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  font-size: 20px;

  @include medium {
    width: 100%;
  }

  .contactTitle {
    font-size: 18px;
    font-weight: 500;
    color: $light-black-color;
  }

  div {
    width: 100%;
  }
}