.card {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1490196078) -0.05px 1.95px 12.6px;
  height: 450px;
  width: 300px;
  transition: all 0.3s;
  position: relative;

  &.liked {
    .likeBtn {
      svg {
        fill: #8056eb;
      }
    }
  }

  &:hover {
    margin-top: -10px;
    margin-bottom: 0;
    box-shadow: #8056eb -0.05px 1.95px 12.6px;

    .likeBtn {
      opacity: 1;

      &:hover {
        svg {
          transform: scale(1.2);
          // fill: #8056eb;
          // fill: #5b24e7;
        }
      }
    }
  }

  .likeBtn {
    opacity: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s;

    svg {
      height: 28px;
      fill: rgb(146, 143, 143);
      // fill: #8056eb;
      transition: all 0.3s;
    }
  }

  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    display: block;
  }

  .cardInfo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    .category {
      color: #8056eb;
      font-size: 14px;
      font-weight: 500;
      background-color: #e5ddfb;
      padding: 8px 16px;
      border-radius: 30px;
      text-transform: capitalize;
    }

    .serviceName {
      margin: 0;
    }

    .personName {
      color: #8056eb;
      margin: 0;
    }

    .address {
      color: #a8a8a8;
      margin: 0;
    }
  }
}