.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $darker-grey-color;
  font-size: 18px;

  &.special {
    color: $primary-color;

    .icon {
      svg path {
        fill: $primary-color;
      }
    }
  }

  .icon {
    height: 20px;
    width: 20px;
  
    svg path{
      height: 20px;
      width: 20px;
      fill: $darker-grey-color;;
    }
  }
}
