.button {
  font-size: 16px;
  border: none;
  background-color: $primary-color;
  color: $white-color;
  cursor: pointer;
  transition: all 0.3s; 

  &:hover {
    background-color: $primary-hover-color;
  }

  &.primary {
    border-radius: 8px;
    padding: 16px 24px;

    @include small {
      padding: 12px 16px;
      font-size: 14px;
    }
  }

  &.round {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;

    @include small {
      padding: 13px;
    }
  }

  &.small {
    border-radius: 8px;
    padding: 6px 12px;
  }

}
