.contentWrapper {
  margin: 60px 0 120px;

  .flexWrapper {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    @include large {
      position: relative;
    }

    @include medium {
      flex-direction: column-reverse;
      align-items: center;   
      gap: 40px;
    }

    .about {
      @include large {
        max-width: calc(100% - 300px);
      }

      @include medium {
        max-width: 100%;
      }

      .aboutTitle {
        font-size: 36px;
        margin: 0 0 20px;
      }
    }

    .aboutImage {
      max-width: 440px;

      @include large {
        position: absolute;
        right: 0;
        max-width: 280px;
      }

      @include medium {
        position: relative;
        max-width: 340px;
      }
    }



    .history {
      margin: 50px 0;

      .historyTitle {
        margin: 0 0 15px;
        font-size: 32px;
      }
    }
  }

  .trusted {

    .title {
      margin: 0 0 30px;
      font-size: 32px;
      text-align: center;
    }

    .trustedImages {
      max-width: 1000px;
      margin: 0 auto;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: 50px;

      @include medium {
        gap: 30px;
      }

      @include extra-small {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 20px;
      }

      svg {
        max-width: 200px;
        max-height: 90px;

        @include medium {
          max-width: 160px;
          max-height: 70px;
        }

        @include extra-small {
          max-width: 120px;
          max-height: 50px;
        }
      }
    }
  }

  p {
    font-size: 18px;
    line-height: 130%;
  }
}

