.section {
  width: 30%;
  display: flex;
  flex-direction: column;

  @include large {
    width: 100%;
  }

  button {
    @include large {
      align-self: self-start;
    }
  }

  .title {
    font-size: 26px;
    
    @include large {
      margin-top: 50px;
    }
  }

  .buttonChild {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .icon {
      height: 25px;
      width: 25px;
      
      svg path {
        fill: $white-color;
      }
    }
  }

  .similarBusinesses {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include large {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}