@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbarWrapper {
  border-bottom: 2px solid #f1f1f1;

  .navbar {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbarList {
      display: flex;
      align-items: center;
      gap: 20px;

      .logoLink {
        text-decoration: none;
        color: #2F234F;
        font-family: 'Kanit', sans-serif;
        font-style: italic;
        font-size: 24px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 6px;

        .logoImage {
          display: block;
          width: 35px;
        }
      }
    }
    
    .largeBtnText {
      display: block;

      @include small {
        display: none;
      }
    }

    .smallBtnText {
      display: none;

      @include small {
        display: block;
      }
    }
  }  
}
