.navbarWrapper {
  border-bottom: 2px solid #f1f1f1;

  .navbar {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbarList {
      display: flex;
      align-items: center;
      gap: 20px;

      .logoLink {
        text-decoration: none;

        .logoImage {
          display: block;
          height: 60px;

          @include small {
            height: 50px;
          }
        }
      }
    }
    
    .largeBtnText {
      display: block;

      @include small {
        display: none;
      }
    }

    .smallBtnText {
      display: none;

      @include small {
        display: block;
      }
    }
  }  
}
