.avatarWrapper {
  .avatar {
    height: 54px;
    width: 54px;
    border: none;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s; 

    @include small {
      height: 46px;
      width: 46px;
      padding: 13px;
    }

    span {
      font-size: 22px;
      font-weight: 500;

      @include small {
        font-size: 18px;
      }
    }

    &:hover {
      background-color: $primary-hover-color;
    }
  }

  .dropdownWrapper {
    position: relative;
    display: flex;
    justify-content: center;

    @include medium {
      justify-content: flex-end;
    }
  }
}

