.avatarWrapper {
  .avatar {
    font-size: 22px;
    font-weight: 500;
    border: none;
    background-color: $primary-color;
    color: $white-color;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 18px;
    cursor: pointer;
    transition: all 0.3s; 

    @include small {
      padding: 13px 16px;
      font-size: 18px;
    }

    &:hover {
      background-color: $primary-hover-color;
    }
  }

  .dropdownWrapper {
    position: relative;
    display: flex;
    justify-content: center;

    @include medium {
      justify-content: flex-end;
    }
  }
}

